<a href="https://colab.research.google.com/github/nadunchanna98/machine-learning/blob/main/Practice%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing pandas

In [1]:
import pandas as pd
import numpy as np

# Pandas Series

# Creating pandas series

# list

In [2]:
pd.Series([12,12.3,"Catr" ])

0      12
1    12.3
2    Catr
dtype: object

In [3]:
my_series=pd.Series([12,12.3,"Cat"],index=["A","B","C"])

In [4]:
my_series

A      12
B    12.3
C     Cat
dtype: object

# dictionary

In [5]:
my_series1=pd.Series({"A" : 12,"B" : 12.50,"C" : "hi Ruu"})

In [6]:
my_series1

A        12
B      12.5
C    hi Ruu
dtype: object

In [7]:
type(my_series)

pandas.core.series.Series

# Accessing series values

In [8]:
my_series[2]

'Cat'

In [9]:
my_series["C"]

'Cat'

# Pandas Data Frames

# Creating pandas data frame

# 1)Using dictionaries

In [10]:
pd.DataFrame({"Name":["nadun","channa","perera"],"Age":[20,52,89]})

     Name  Age
0   nadun   20
1  channa   52
2  perera   89

In [11]:
data = {"Name":["nadun","channa","perera"],"Age":[20,52,89],"Gender":["male","female","male"]}
dataframe1 = pd.DataFrame(data)
dataframe1

     Name  Age  Gender
0   nadun   20    male
1  channa   52  female
2  perera   89    male

# 02) Using numpy array

In [12]:
arr = np.array([["nadun",20,"Male"],["channa",5,"Female"],["Perera",89,"male"]])
dataframe2=pd.DataFrame(arr,columns=["Name","Age","Gender"])
dataframe2

     Name Age  Gender
0   nadun  20    Male
1  channa   5  Female
2  Perera  89    male

In [13]:
type(dataframe1)

pandas.core.frame.DataFrame

# 03)Creating data frames using CSV files

In [14]:
  #pd.read_csv("")

# manual create

In [15]:
dataframe3=pd.DataFrame({"val1":np.random.randint(1,100,200),"val2":np.random.random(200)})
dataframe3

     val1      val2
0      63  0.455823
1      12  0.566650
2      49  0.271236
3      40  0.968287
4      13  0.815240
..    ...       ...
195    50  0.420509
196    47  0.405144
197    86  0.809682
198    76  0.900992
199    66  0.301135

[200 rows x 2 columns]

In [16]:
#SEE THE FIRST 10 ONLY
dataframe3.head(10)

   val1      val2
0    63  0.455823
1    12  0.566650
2    49  0.271236
3    40  0.968287
4    13  0.815240
5    18  0.154560
6    66  0.349859
7     6  0.241752
8    46  0.349930
9    10  0.890210

In [17]:
#bottem 5 only
dataframe3.tail(5)

     val1      val2
195    50  0.420509
196    47  0.405144
197    86  0.809682
198    76  0.900992
199    66  0.301135

In [18]:
dataframe2.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [19]:
list(dataframe2.columns)

['Name', 'Age', 'Gender']

In [20]:
list(dataframe2.head(2).index)

[0, 1]

In [21]:
 dataframe1.shape

(3, 3)

In [22]:
dataframe1.shape[0]

3

# Adding new colomns

In [23]:
dataframe1["Grade"]=[9,10,13]

In [24]:
dataframe1

     Name  Age  Gender  Grade
0   nadun   20    male      9
1  channa   52  female     10
2  perera   89    male     13

In [25]:
 dataframe1.shape

(3, 4)

# Acccessing elements

In [26]:
dataframe1["Grade"][1]

10

In [27]:
dataframe1.iloc[1,3]

10

In [28]:
dataframe1.iloc[0:2,0:2]

     Name  Age
0   nadun   20
1  channa   52

In [29]:
dataframe1.loc[1,"Gender"]

'female'

In [30]:
dataframe1.at[1,"Gender"]

'female'

# Basic column operatons

In [31]:
df=pd.DataFrame({"col1":[23,45,25],"col2":[20,52,89]})
df

   col1  col2
0    23    20
1    45    52
2    25    89

In [32]:
df["col3"]=df["col1"]+df["col2"]
df

   col1  col2  col3
0    23    20    43
1    45    52    97
2    25    89   114

In [33]:
df["results"]=["pass" if i>=50 else "Fail" for i in df["col3"]]
df

   col1  col2  col3 results
0    23    20    43    Fail
1    45    52    97    pass
2    25    89   114    pass

# Pandas data frames with "apply" function

In [34]:
data= np.arange(10).reshape(5,2)
df = pd.DataFrame(data,columns=["Col1","col2"])
df

   Col1  col2
0     0     1
1     2     3
2     4     5
3     6     7
4     8     9

In [35]:
#summetion of raw in each columns
df.apply(sum,axis=0)

Col1    20
col2    25
dtype: int64

In [36]:
#summetion of columns in each raw
df.apply(sum,axis=1)

0     1
1     5
2     9
3    13
4    17
dtype: int64

In [37]:
df.apply(len,axis = 1)

0    2
1    2
2    2
3    2
4    2
dtype: int64

# Pandas data frames with "lambda"  &  "map" function

In [38]:
my_function = lambda L:L[0]+L[len(L)-1]
df.apply(my_function,axis=0)

Col1     8
col2    10
dtype: int64

In [39]:
#map function can be apply to the specific column 
df["Col1"].map(lambda x:2*x)

0     0
1     4
2     8
3    12
4    16
Name: Col1, dtype: int64

# Boolean masking technique

In [40]:
data = {"Name":["nadun","channa","perera","Ruvi","Ruvindya","sachi"],"Age":[20,52,19,51,95,10],"Gender":["male","female","male","male","female","male"]}
df = pd.DataFrame(data)
df

       Name  Age  Gender
0     nadun   20    male
1    channa   52  female
2    perera   19    male
3      Ruvi   51    male
4  Ruvindya   95  female
5     sachi   10    male

In [41]:
df["Age"]>50

0    False
1     True
2    False
3     True
4     True
5    False
Name: Age, dtype: bool

In [42]:
df[df["Age"]>50]

       Name  Age  Gender
1    channa   52  female
3      Ruvi   51    male
4  Ruvindya   95  female

In [43]:
df[(df["Age"]>50) & (df["Gender"] == "female")]

       Name  Age  Gender
1    channa   52  female
4  Ruvindya   95  female

# Data summaries

In [44]:
data=np.random.random(10).reshape(5,2)
data

array([[0.77889068, 0.39126695],
       [0.28077815, 0.95795309],
       [0.43172542, 0.15188486],
       [0.0861056 , 0.79268348],
       [0.04819681, 0.08316467]])

In [45]:
df=pd.DataFrame(data,columns=["A","B"],index=["a","b","c","d","e"])
df

          A         B
a  0.778891  0.391267
b  0.280778  0.957953
c  0.431725  0.151885
d  0.086106  0.792683
e  0.048197  0.083165

# summaries for each column

In [46]:
df.describe()

              A         B
count  5.000000  5.000000
mean   0.325139  0.475391
std    0.297091  0.387013
min    0.048197  0.083165
25%    0.086106  0.151885
50%    0.280778  0.391267
75%    0.431725  0.792683
max    0.778891  0.957953

In [47]:
#describe cannot do for columns.so we have to get transpose df and use above function
df.transpose()

          a         b         c         d         e
A  0.778891  0.280778  0.431725  0.086106  0.048197
B  0.391267  0.957953  0.151885  0.792683  0.083165

# Summaries for each Row

In [48]:
df.transpose().describe()

              a         b         c         d         e
count  2.000000  2.000000  2.000000  2.000000  2.000000
mean   0.585079  0.619366  0.291805  0.439395  0.065681
std    0.274091  0.478835  0.197877  0.499626  0.024726
min    0.391267  0.280778  0.151885  0.086106  0.048197
25%    0.488173  0.450072  0.221845  0.262750  0.056939
50%    0.585079  0.619366  0.291805  0.439395  0.065681
75%    0.681985  0.788659  0.361765  0.616039  0.074423
max    0.778891  0.957953  0.431725  0.792683  0.083165

# Finding sums for columns and raws separately

In [49]:
df.sum(axis=0)

A    1.625697
B    2.376953
dtype: float64

In [50]:
df.sum(axis=1)

a    1.170158
b    1.238731
c    0.583610
d    0.878789
e    0.131361
dtype: float64

# Finding cumulative sums for columns and raws separately

In [51]:
data= np.arange(10).reshape(5,2)
df = pd.DataFrame(data,columns=["A","B"])
df

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

In [52]:
df.cumsum()

    A   B
0   0   1
1   2   4
2   6   9
3  12  16
4  20  25

In [53]:
df.cumsum(axis=1)

   A   B
0  0   1
1  2   5
2  4   9
3  6  13
4  8  17

# Finding means for columns and row separately

In [54]:
df.mean()

A    4.0
B    5.0
dtype: float64

In [55]:
df.mean(axis=1)

0    0.5
1    2.5
2    4.5
3    6.5
4    8.5
dtype: float64

# max min

In [56]:
df.max()

A    8
B    9
dtype: int64

In [57]:
df.max(axis=1)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [58]:
df.min()

A    0
B    1
dtype: int64

# Dropping columns and rows

In [59]:
data = {"Name":["nadun","channa","perera","Ruvi","Ruvindya","sachi"],"Age":[20,52,19,51,95,10],"Gender":["male","female","male","male","female","male"]}
df = pd.DataFrame(data)
df

       Name  Age  Gender
0     nadun   20    male
1    channa   52  female
2    perera   19    male
3      Ruvi   51    male
4  Ruvindya   95  female
5     sachi   10    male

In [60]:
df.drop(4)

     Name  Age  Gender
0   nadun   20    male
1  channa   52  female
2  perera   19    male
3    Ruvi   51    male
5   sachi   10    male

In [61]:
#inplace use for auto change the original df 
df.drop(3,inplace=True)
df

       Name  Age  Gender
0     nadun   20    male
1    channa   52  female
2    perera   19    male
4  Ruvindya   95  female
5     sachi   10    male

In [62]:
df.drop("Gender",axis=1)

       Name  Age
0     nadun   20
1    channa   52
2    perera   19
4  Ruvindya   95
5     sachi   10

In [63]:
df

       Name  Age  Gender
0     nadun   20    male
1    channa   52  female
2    perera   19    male
4  Ruvindya   95  female
5     sachi   10    male

In [64]:
df

       Name  Age  Gender
0     nadun   20    male
1    channa   52  female
2    perera   19    male
4  Ruvindya   95  female
5     sachi   10    male

In [65]:
df.iloc[2:,:]

       Name  Age  Gender
2    perera   19    male
4  Ruvindya   95  female
5     sachi   10    male

# Sorting data frames with column values

In [66]:
data = {"Name":["nadun","channa","perera","Ruvi","Ruvindya","sachi"],"Age":[20,52,19,51,95,10],"Gender":["male","female","male","male","female","male"]}
df = pd.DataFrame(data)
df

       Name  Age  Gender
0     nadun   20    male
1    channa   52  female
2    perera   19    male
3      Ruvi   51    male
4  Ruvindya   95  female
5     sachi   10    male

In [67]:
#ascending
df.sort_values(by="Age")

       Name  Age  Gender
5     sachi   10    male
2    perera   19    male
0     nadun   20    male
3      Ruvi   51    male
1    channa   52  female
4  Ruvindya   95  female

In [68]:
#dicending
df.sort_values(by="Age",ascending=False)

       Name  Age  Gender
4  Ruvindya   95  female
1    channa   52  female
3      Ruvi   51    male
0     nadun   20    male
2    perera   19    male
5     sachi   10    male

In [69]:
data = {"Name":["nadun","channa","perera","Ruvi","Ruvindya","sachi"],"Age":[20,52,19,51,95,20],"Gender":["m","f","m","m","f","m"],"Marks":[60,2,91,100,60,14]}
df = pd.DataFrame(data)
df

       Name  Age Gender  Marks
0     nadun   20      m     60
1    channa   52      f      2
2    perera   19      m     91
3      Ruvi   51      m    100
4  Ruvindya   95      f     60
5     sachi   20      m     14

In [70]:
#piority is first one("Age").if ages are same,then go to second piority
df.sort_values(by=["Age","Marks"])

       Name  Age Gender  Marks
2    perera   19      m     91
5     sachi   20      m     14
0     nadun   20      m     60
3      Ruvi   51      m    100
1    channa   52      f      2
4  Ruvindya   95      f     60

In [71]:
variable1=df.groupby("Gender")

In [72]:
list(variable1)

[('f',
         Name  Age Gender  Marks
  1    channa   52      f      2
  4  Ruvindya   95      f     60),
 ('m',
       Name  Age Gender  Marks
  0   nadun   20      m     60
  2  perera   19      m     91
  3    Ruvi   51      m    100
  5   sachi   20      m     14)]

# Summaries for other variables with grouping

In [73]:
data = {"ID":[1258,5254,1779,5361,9795,2120],"Name":["nadun","channa","perera","Ruvi","Ruvindya","sachi"],"Age":[20,52,19,51,95,20],"Gender":["m","f","m","m","f","m"],"Marks":[60,2,91,100,60,14]}
df = pd.DataFrame(data)
df

     ID      Name  Age Gender  Marks
0  1258     nadun   20      m     60
1  5254    channa   52      f      2
2  1779    perera   19      m     91
3  5361      Ruvi   51      m    100
4  9795  Ruvindya   95      f     60
5  2120     sachi   20      m     14

In [74]:
#first remove the id column.because it is not need
df.drop("ID",axis=1,inplace=True)

In [75]:
df

       Name  Age Gender  Marks
0     nadun   20      m     60
1    channa   52      f      2
2    perera   19      m     91
3      Ruvi   51      m    100
4  Ruvindya   95      f     60
5     sachi   20      m     14

In [76]:
df.groupby("Gender").mean()

<ipython-input-76-18b6b4ee391a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("Gender").mean()

         Age  Marks
Gender
f       73.5  31.00
m       27.5  66.25

In [77]:
#get like panda series
df.groupby("Gender")["Marks"].mean()

Gender
f    31.00
m    66.25
Name: Marks, dtype: float64

# Summarizing other variables with grouping by using multiple options

In [78]:
df.groupby("Gender").agg(["mean","sum","max","min"])

<ipython-input-78-6f37c00066b5>:1: FutureWarning: ['Name'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby("Gender").agg(["mean","sum","max","min"])

         Age               Marks
        mean  sum max min   mean  sum  max min
Gender
f       73.5  147  95  52  31.00   62   60   2
m       27.5  110  51  19  66.25  265  100  14

# Concatenating data frames

In [79]:
data = {"A":[1258,5254,1779,5361,9795,2120],"B":[20,52,19,51,95,20]}
df1 = pd.DataFrame(data)
df1

      A   B
0  1258  20
1  5254  52
2  1779  19
3  5361  51
4  9795  95
5  2120  20

In [80]:
data = {"A":[58,54,79,61,95,20],"B":[2120,5242,1559,5451,9755,2074]}
df2 = pd.DataFrame(data)
df2

    A     B
0  58  2120
1  54  5242
2  79  1559
3  61  5451
4  95  9755
5  20  2074

# Concatenating along the rows

In [81]:
pd.concat([df1,df2])

      A     B
0  1258    20
1  5254    52
2  1779    19
3  5361    51
4  9795    95
5  2120    20
0    58  2120
1    54  5242
2    79  1559
3    61  5451
4    95  9755
5    20  2074

In [82]:
############## ignore index
pd.concat([df1,df2],ignore_index=True)

       A     B
0   1258    20
1   5254    52
2   1779    19
3   5361    51
4   9795    95
5   2120    20
6     58  2120
7     54  5242
8     79  1559
9     61  5451
10    95  9755
11    20  2074

# Concatenating along the Colomns

In [83]:
pd.concat([df1,df2],axis=1)

      A   B   A     B
0  1258  20  58  2120
1  5254  52  54  5242
2  1779  19  79  1559
3  5361  51  61  5451
4  9795  95  95  9755
5  2120  20  20  2074

In [84]:
#another way "loc".its like "iloc" . but iloc cannot use
df1.loc[6]=[1000,3333]
df1

      A     B
0  1258    20
1  5254    52
2  1779    19
3  5361    51
4  9795    95
5  2120    20
6  1000  3333

#  Counting values

In [85]:
d={"col1":["P","P","Q"],"col2":["Q","Q","Q"]}
df=pd.DataFrame(d)
df

  col1 col2
0    P    Q
1    P    Q
2    Q    Q

In [86]:
df["col1"].value_counts()

P    2
Q    1
Name: col1, dtype: int64

In [87]:
df["col2"].value_counts()

Q    3
Name: col2, dtype: int64

# Unique values in a column

In [88]:
df["col1"].unique()

array(['P', 'Q'], dtype=object)

In [89]:
df["col2"].unique()

array(['Q'], dtype=object)

# Working with indexes & columns

In [90]:
df.columns

Index(['col1', 'col2'], dtype='object')

In [91]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [92]:
#change column names
df.columns=["abc","xyz"]
df

  abc xyz
0   P   Q
1   P   Q
2   Q   Q

In [93]:
#change index
df.index=["a","b","c"]
df

  abc xyz
a   P   Q
b   P   Q
c   Q   Q

# Change the order of the rows

In [94]:
df.reindex(["b","c","a"])

  abc xyz
b   P   Q
c   Q   Q
a   P   Q

# Change the order of the colummns

In [95]:
df

  abc xyz
a   P   Q
b   P   Q
c   Q   Q

In [96]:
df.reindex(columns=["xyz","abc"])

  xyz abc
a   Q   P
b   Q   P
c   Q   Q